# Environment variables
.env
.env.local

# macOS system files
.DS_Store
**/.DS_Store

# Python cache
__pycache__/
**/__pycache__/
*.py[cod]
*.pyo

# ChromaDB generated data
**/chroma_db/

# Jupyter Notebooks checkpoints
.ipynb_checkpoints/
**/.ipynb_checkpoints/

# Virtual environments
venv/
.venv/
env/
